@model QLlaptop.Models.ThuongHieu

@{
    ViewBag.Title = "Xoathuonghieu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Xóa thương hiệu</h2>

<h3>Bạn có muốn xác nhận xóa thương thiệu?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên thương hiệu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tenthuonghieu)
        </dd>

        <dt>
            Giới thiệu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gioithieu)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại danh sách", "Thuonghieu")
        </div>
    }
</div>
