@model IEnumerable<QLlaptop.Models.ThuongHieu>

@foreach (var item in Model)
{
    <div class="spl">
        <a href="@Url.Action("SPtheothuonghieu","Home", new { id = item.Mathuonghieu})">
            @item.Tenthuonghieu
        </a>
    </div>

}