@model IEnumerable<QLlaptop.Models.LoaiSanPham>


@foreach (var item in Model)
{
    <div class="split">
        <a href="@Url.Action("SPtheoloai", "Home", new { id = item.Maloai})">@item.Tenloai</a>
        <div class="sub-content">
            <div class="row">
                <div>
                    <h3>Thương hiệu</h3>
                    @{Html.RenderAction("getbr", "Home", new { id = item.Maloai });}
                </div>
            </div>
        </div>
    </div>

}